form(action="/products" method="post")
    div(class="row g-3 mt-3")
        div(class="col")
            input(type="text" class="form-control" placeholder="nombre" name="title")        
        div(class="col")
            input(type="text" class="form-control" placeholder="precio" name="price")        
        div(class="col")
            input(type="text" class="form-control" placeholder="url" name="url")        
        div(class="col")
            button(type="submit" class="btn btn-dark") Guardar 
        